services:
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./nginx/ssl:/etc/nginx/ssl:ro
    depends_on:
      - jbs
    restart: unless-stopped

  jbs:
    image: ssedov/jbs:2.6.19-89fec93
    expose:
      - "80"
    volumes:
      - ./data:/var/www/html/data
    depends_on:
      - db
    restart: unless-stopped

  db:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: Eximius2025
    volumes:
      - mysql_data:/var/lib/mysql
    command:
      [
        "mysqld",
        "--character-set-server=utf8mb4",
        "--collation-server=utf8mb4_unicode_ci",
      ]
    restart: unless-stopped

volumes:
  mysql_data:
